<h3 class="mb-4">Contratos a vencer</h3>

<div class="table-responsive">
   <table class="table table-sm table-bordered" *ngIf="contractsToExpire.data.length > 0">
      <thead>
      <tr>
         <th scope="col">Empresa</th>
         <th scope="col">Contratos</th>
         <th scope="col" class="text-center">A&ccedil;&otilde;es</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let seller of contractsToExpire.data">
         <td>{{ seller.name }}</td>
         <td>{{ seller.contracts.length }}</td>
         <td class="text-center">
            <button class="btn btn-link btn-table" (click)="openModalContractToExpire(modalContractToExpire, seller)">
               <fa-icon [icon]="faEye"></fa-icon>
            </button>
         </td>
      </tr>
      </tbody>
   </table>
</div>

<ng-template #modalContractToExpire let-modal>
   <div class="modal-header">
      <h4 class="modal-title">
         Contratos a vencer
      </h4>
      <button
         type="button"
         class="close"
         aria-label="Close"
         (click)="modal.dismiss()"
         [disabled]="isLoading ? 'disabled' : ''"
      >
         <span aria-hidden="true">&times;</span>
      </button>
   </div>

   <div class="modal-body">
      <form>
         <div class="form-inline">
            <span>Empresa: {{ sellerDetail?.name }}</span>
         </div>

         <div class="form-group mt-3">
            <label>Contratos</label>
            <div class="table-responsive">
               <table class="table table-sm table-bordered">
                  <thead>
                  <tr>
                     <th>Contrato</th>
                     <th>Cliente</th>
                     <th>Plano</th>
                     <th>Vencimento</th>
                  </tr>
                  </thead>

                  <tbody>
                  <tr *ngFor="let contract of sellerDetail.contracts">
                     <td>{{ contract.code }}</td>
                     <td>{{ contract.customer.name }}</td>
                     <td>{{ contract.plan.name }}</td>
                     <td>{{ contract.dateExpire | date: 'dd/MM/yyyy' }}</td>
                  </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </form>
   </div>

   <div class="modal-footer">
      <button
         type="button"
         class="btn btn-primary"
         [ladda]="isLoading"
         [disabled]="isLoading ? 'disabled' : ''"
         (click)="modal.dismiss()"
      >
         Ok
      </button>
   </div>
</ng-template>

