<!--<h3 class="mb-4">Contratos</h3>-->

<!--<button class="btn btn-primary mb-3" (click)="openModalContract(modalContract)">-->
<!--   <fa-icon [icon]="faPlus"></fa-icon>-->
<!--   Cadastrar Contrato-->
<!--</button>-->

<!--<table class="table table-sm table-bordered" *ngIf="contracts.data.length > 0">-->
<!--   <thead class="thead-primary">-->
<!--   <tr>-->
<!--      <th scope="col">Cliente</th>-->
<!--      <th scope="col">Contratos ativos</th>-->
<!--      <th scope="col" class="text-center">A&ccedil;&otilde;es</th>-->
<!--   </tr>-->
<!--   </thead>-->
<!--   <tbody>-->
<!--   <tr *ngFor="let contract of contracts.data">-->
<!--      <td>{{ contract.name }}</td>-->
<!--      <td>{{ contract.contracts.length }}</td>-->
<!--      <td class="text-center">-->
<!--         <button class="btn btn-link btn-table" (click)="openModalContract(modalContract, contract)">-->
<!--            <fa-icon [icon]="faEdit"></fa-icon>-->
<!--         </button>-->
<!--      </td>-->
<!--   </tr>-->
<!--   </tbody>-->
<!--</table>-->

<!--<ng-template #modalContract let-modal>-->
<!--   <div class="modal-header">-->
<!--      <h4 class="modal-title" id="modal-basic-title">-->
<!--         {{ contractFormGroup.get('id').value ? 'Editar' : 'Cadastrar' }} Cliente-->
<!--      </h4>-->
<!--      <button-->
<!--         type="button"-->
<!--         class="close"-->
<!--         aria-label="Close"-->
<!--         (click)="modal.dismiss()"-->
<!--         [disabled]="isLoading ? 'disabled' : ''"-->
<!--      >-->
<!--         <span aria-hidden="true">&times;</span>-->
<!--      </button>-->
<!--   </div>-->

<!--   <div class="modal-body">-->
<!--      <form [formGroup]="contractFormGroup">-->
<!--         <div class="form-group">-->
<!--            <label for="name">Nome</label>-->
<!--            <div class="input-group">-->
<!--               <input-->
<!--                  id="name"-->
<!--                  class="form-control"-->
<!--                  type="text"-->
<!--                  formControlName="name"-->
<!--                  [ngClass]="{-->
<!--                   'is-invalid':-->
<!--                     contractFormGroup.get('name').touched &&-->
<!--                     contractFormGroup.get('name').invalid-->
<!--                  }"-->
<!--                  trim="blur"-->
<!--               >-->
<!--            </div>-->
<!--         </div>-->

<!--         <div class="form-group">-->
<!--            <label for="name">E-Mail</label>-->
<!--            <div class="input-group">-->
<!--               <input-->
<!--                  id="mail"-->
<!--                  class="form-control"-->
<!--                  type="email"-->
<!--                  formControlName="mail"-->
<!--                  [ngClass]="{-->
<!--                   'is-invalid':-->
<!--                     contractFormGroup.get('mail').touched &&-->
<!--                     contractFormGroup.get('mail').invalid-->
<!--                  }"-->
<!--                  trim="blur"-->
<!--               >-->
<!--            </div>-->
<!--         </div>-->

<!--         <div class="form-group">-->
<!--            <label for="name">CPF</label>-->
<!--            <div class="input-group">-->
<!--               <input-->
<!--                  id="cpf"-->
<!--                  class="form-control"-->
<!--                  type="text"-->
<!--                  formControlName="cpf"-->
<!--                  [ngClass]="{-->
<!--                   'is-invalid':-->
<!--                     contractFormGroup.get('cpf').touched &&-->
<!--                     contractFormGroup.get('cpf').invalid-->
<!--                  }"-->
<!--                  trim="blur"-->
<!--                  mask="000.000.000-00"-->
<!--               >-->
<!--            </div>-->
<!--         </div>-->

<!--         <div class="form-group mt-3">-->
<!--            <label>Contratos ativos</label>-->
<!--            <br/>-->
<!--            <button class="btn btn-sm btn-primary" (click)="openModalContract(modalContract)">-->
<!--               <fa-icon [icon]="faPlus"></fa-icon>-->
<!--               Novo contrato-->
<!--            </button>-->

<!--            <div class="table-responsive mt-4" *ngIf="contractFormGroup.get('contracts')['controls'].length > 0">-->
<!--               <table class="table table-sm table-bordered">-->
<!--                  <thead>-->
<!--                  <tr>-->
<!--                     <th>Contrato</th>-->
<!--                     <th>Plano</th>-->
<!--                     <th>Vencimento</th>-->
<!--                     <th class="text-center">A&ccedil;&otilde;es</th>-->
<!--                  </tr>-->
<!--                  </thead>-->

<!--                  <tbody>-->
<!--                  <tr *ngFor="let contractFormGroup of contractFormGroup.get('contracts')['controls']">-->
<!--                     <td>{{ contractFormGroup.get('code').value }}</td>-->
<!--                     <td>{{ contractFormGroup.get('plan').get('name').value }}</td>-->
<!--                     <td>{{ contractFormGroup.get('dateExpire').value | date: 'dd/MM/yyyy' }}</td>-->
<!--                     <td class="text-center">-->
<!--                        <button-->
<!--                           class="btn btn-link btn-table"-->
<!--                           (click)="openModalContract(modalContract, contractFormGroup.value)"-->
<!--                        >-->
<!--                           <fa-icon [icon]="faSync"></fa-icon>-->
<!--                        </button>-->
<!--                     </td>-->
<!--                  </tr>-->
<!--                  </tbody>-->
<!--               </table>-->
<!--            </div>-->
<!--         </div>-->
<!--      </form>-->
<!--   </div>-->

<!--   <div class="modal-footer">-->
<!--      <button-->
<!--         type="button"-->
<!--         class="btn btn-primary"-->
<!--         [ladda]="isLoading"-->
<!--         [disabled]="isLoading ? 'disabled' : ''"-->
<!--         (click)="save()"-->
<!--      >-->
<!--         Salvar-->
<!--      </button>-->

<!--      <button-->
<!--         type="button"-->
<!--         class="btn btn-outline-dark"-->
<!--         [disabled]="isLoading ? 'disabled' : ''"-->
<!--         (click)="modal.dismiss()"-->
<!--      >-->
<!--         Cancelar-->
<!--      </button>-->
<!--   </div>-->
<!--</ng-template>-->

<!--<ng-template #modalContract let-modal>-->
<!--   <div class="modal-header">-->
<!--      <h4 class="modal-title">-->
<!--         {{ contractFormGroup.get('id').value ? 'Renovar' : 'Novo' }} Contrato-->
<!--      </h4>-->
<!--      <button-->
<!--         type="button"-->
<!--         class="close"-->
<!--         aria-label="Close"-->
<!--         (click)="modal.dismiss()"-->
<!--         [disabled]="isLoading ? 'disabled' : ''"-->
<!--      >-->
<!--         <span aria-hidden="true">&times;</span>-->
<!--      </button>-->
<!--   </div>-->

<!--   <div class="modal-body">-->
<!--      <form [formGroup]="contractFormGroup">-->
<!--         <div class="row" *ngIf="contractFormGroup.get('id').value">-->
<!--            <div class="col-md-4">-->
<!--               <div class="form-group">-->
<!--                  <label>C&oacute;digo</label>-->
<!--                  <input class="form-control" disabled="disabled" formControlName="code"/>-->
<!--               </div>-->
<!--            </div>-->
<!--         </div>-->

<!--         <div class="row">-->
<!--            <div class="col-md-12">-->
<!--               <div class="form-group">-->
<!--                  <label>Plano</label>-->
<!--                  <select class="form-control" formControlName="plan">-->
<!--                     <option>Selecione</option>-->
<!--                     <option *ngFor="let plan of plans.data" [value]="plan.id">{{ plan.name }}</option>-->
<!--                  </select>-->
<!--               </div>-->
<!--            </div>-->
<!--         </div>-->

<!--         <div class="row">-->
<!--            <div class="col-md-4">-->
<!--               <div class="form-group">-->
<!--                  <label>V&aacute;lido at&eacute;</label>-->
<!--                  <input class="form-control" value="23/08/2021" disabled/>-->
<!--               </div>-->
<!--            </div>-->
<!--         </div>-->
<!--      </form>-->
<!--   </div>-->

<!--   <div class="modal-footer">-->
<!--      <button-->
<!--         type="button"-->
<!--         class="btn btn-primary"-->
<!--         [ladda]="isLoading"-->
<!--         (click)="modal.dismiss()"-->
<!--      >-->
<!--         Salvar-->
<!--      </button>-->

<!--      <button-->
<!--         type="button"-->
<!--         class="btn btn-outline-dark"-->
<!--         [disabled]="isLoading"-->
<!--         (click)="modal.dismiss()"-->
<!--      >-->
<!--         Cancelar-->
<!--      </button>-->
<!--   </div>-->
<!--</ng-template>-->

