<h3 class="mb-4">Programas</h3>

<button class="btn btn-primary mb-3" (click)="openModalPlan()">
   <fa-icon [icon]="faPlus"></fa-icon>
   Cadastrar Programa
</button>

<table class="table table-sm table-bordered" *ngIf="plans.length > 0">
   <thead class="thead-primary">
      <tr>
         <th scope="col">Programa</th>
         <th scope="col">Valor</th>
         <th scope="col">Repasse</th>
         <th scope="col">Ativo</th>
         <th scope="col" class="text-center">A&ccedil;&otilde;es</th>
      </tr>
   </thead>
   <tbody>
      <tr *ngFor="let plan of plans" (click)="openModalPlan(plan)">
         <td>{{ plan.name }}</td>
         <td>{{ plan.value | currency }}</td>
         <td>{{ plan.percent }}%</td>
         <td>{{ plan.active ? "Sim" : "N&atilde;o" }}</td>
         <td class="text-center">
            <button class="btn btn-link btn-table">
               <fa-icon [icon]="faEdit"></fa-icon>
            </button>
         </td>
      </tr>
   </tbody>
</table>

<app-plan-modal-save
   (onSave)="callBackOnSavePlan($event)"
   #planModalSave
></app-plan-modal-save>
