<nav class="navbar navbar-expand-sm navbar-dark bg-primary fixed-top">
   <a class="navbar-brand" routerLink="/admin/programas">Odonto APP</a>
   <button
      class="navbar-toggler"
      type="button"
      (click)="navbarCollapsed = !navbarCollapsed"
   >
      <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed">
      <ul class="navbar-nav mr-auto">
         <li
            class="nav-item"
            *ngFor="let item of NAVBAR_DATA"
            [ngClass]="{
               active: currentRoute === '/admin/' + item.route
            }"
         >
            <a class="nav-link" [routerLink]="item.route">
               {{ item.text }}
               <ng-container *ngIf="item.badge && item.badge > 0">
                  &nbsp;<span class="badge badge-pill badge-danger">3</span>
               </ng-container>
            </a>
         </li>
      </ul>

      <div
         *ngIf="user$ | async as user"
         ngbDropdown
         display="dynamic"
         placement="bottom-right"
      >
         <button class="btn btn-primary border-0" ngbDropdownToggle>
            {{ getFirstName(user.name) }}
         </button>

         <div ngbDropdownMenu aria-labelledby="dropdownUser">
            <button ngbDropdownItem (click)="signOut()">
               <fa-icon [icon]="faSignOutAlt"></fa-icon>
               Sair
            </button>
         </div>
      </div>
   </div>
</nav>
