<h3 class="mb-4">Cl&iacute;nicas Parceiras</h3>

<button class="btn btn-primary mb-3" (click)="openModalSeller(modalSeller)">
   <fa-icon [icon]="faPlus"></fa-icon>
   Cadastrar Cl&iacute;nica
</button>

<div class="table-responsive">
   <table class="table table-sm table-bordered" *ngIf="sellers.length > 0">
      <thead>
      <tr>
         <th scope="col">Empresa</th>
         <th scope="col">CNPJ</th>
         <th scope="col">Planos</th>
         <th scope="col">Ativo</th>
         <th scope="col" class="text-center">A&ccedil;&otilde;es</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let seller of sellers">
         <td>{{ seller.name }}</td>
         <td>{{ seller.cnpj | cpfCnpjFormatPipe }}</td>
         <td>
            {{ seller.plan.length > 0 ? seller.plan.length : "-" }}
         </td>
         <td>{{ seller.active ? "Sim" : "N&atilde;o" }}</td>
         <td class="text-center">
            <button
               class="btn btn-link btn-table"
               (click)="openModalSeller(modalSeller, seller)"
            >
               <fa-icon [icon]="faEdit"></fa-icon>
            </button>
         </td>
      </tr>
      </tbody>
   </table>
</div>

<ng-template #modalSeller let-modal>
   <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
         {{ sellerFormGroup.get("id").value ? "Editar" : "Cadastrar" }}
         Cl&iacute;nica
      </h4>
      <button
         type="button"
         class="close"
         aria-label="Close"
         (click)="modal.dismiss()"
         [disabled]="isLoading ? 'disabled' : ''"
      >
         <span aria-hidden="true">&times;</span>
      </button>
   </div>

   <div class="modal-body">
      <form [formGroup]="sellerFormGroup">
         <div class="form-group">
            <label for="name">Nome</label>
            <div class="input-group">
               <input
                  id="name"
                  class="form-control"
                  type="text"
                  formControlName="name"
                  [ngClass]="{
                     'is-invalid':
                        sellerFormGroup.get('name').touched &&
                        sellerFormGroup.get('name').invalid
                  }"
                  trim="blur"
               />
            </div>
         </div>

         <div class="form-group">
            <label for="cnpj">CNPJ</label>
            <div class="input-group">
               <input
                  id="cnpj"
                  class="form-control"
                  type="text"
                  formControlName="cnpj"
                  [ngClass]="{
                     'is-invalid':
                        sellerFormGroup.get('cnpj').touched &&
                        sellerFormGroup.get('cnpj').invalid
                  }"
                  mask="00.000.000/0000-00"
               />
            </div>
         </div>

         <div class="form-group">
            <div class="d-flex flex-row align-items-center">
               <label>Programas dispon&iacute;veis</label>
               <!--               <button-->
               <!--                  class="btn btn-sm btn-outline-primary m-0 ml-2"-->
               <!--                  (click)="openModalPlan()"-->
               <!--               >-->
               <!--                  <fa-icon [icon]="faPlus"></fa-icon>-->
               <!--               </button>-->
            </div>
            <div class="table-responsive mt-3">
               <table class="table table-sm table-bordered">
                  <tbody>
                  <tr
                     *ngFor="
                           let planFormGroup of sellerFormGroup.get('plan')[
                              'controls'
                           ]
                        "
                  >
                     <ng-container [formGroup]="planFormGroup">
                        <td>
                           <div class="form-check">
                              <input
                                 class="form-check-input"
                                 type="checkbox"
                                 [id]="
                                       'plan_' + planFormGroup.get('id').value
                                    "
                                 formControlName="checked"
                              />
                              <label
                                 class="form-check-label"
                                 [for]="
                                       'plan_' + planFormGroup.get('id').value
                                    "
                              >
                                 {{ planFormGroup.get("name").value }}
                              </label>
                           </div>
                        </td>
                     </ng-container>
                  </tr>
                  </tbody>
               </table>
            </div>
         </div>

         <div class="form-group">
            <div class="form-check">
               <input
                  class="form-check-input"
                  type="checkbox"
                  id="active"
                  formControlName="active"
               />
               <label class="form-check-label" for="active"> Ativo </label>
            </div>
         </div>
      </form>
   </div>

   <div class="modal-footer">
      <button
         type="button"
         class="btn btn-primary"
         [ladda]="isLoading"
         [disabled]="isLoading ? 'disabled' : ''"
         (click)="save()"
      >
         Salvar
      </button>

      <button
         type="button"
         class="btn btn-outline-dark"
         [disabled]="isLoading ? 'disabled' : ''"
         (click)="modal.dismiss()"
      >
         Cancelar
      </button>
   </div>
</ng-template>

<app-plan-modal-save
   (onSave)="callBackOnSavePlan($event)"
   #planModalSave
></app-plan-modal-save>
