<h3 class="mb-4">Clientes</h3>

<div class="d-flex flex-row mb-3">
   <button class="btn btn-primary" (click)="openModalCustomer(modalCustomer)">
      <fa-icon [icon]="faPlus"></fa-icon>
      Cadastrar Cliente
   </button>
   <button class="btn btn-outline-primary ml-2" (click)="openModalReportCustomer(modalReportPDFCustomer)">
      <fa-icon [icon]="faFilePdf"></fa-icon>
      Relatório de Clientes
   </button>
</div>

<table class="table table-sm table-bordered" *ngIf="customers.total > 0">
   <thead class="thead-primary">
   <tr>
      <th scope="col">Cliente</th>
      <th scope="col">Contrato</th>
      <th scope="col">Revis&atilde;o</th>
      <th scope="col">Renova&ccedil;&atilde;o</th>
      <th scope="col">Cart&atilde;o fidelidade</th>
      <th scope="col" class="text-center">A&ccedil;&otilde;es</th>
   </tr>
   </thead>
   <tbody>
   <tr *ngFor="let customer of customers.customer">
      <td>{{ customer.name }}</td>
      <td>{{ customer.customerPlan.contract }}</td>
      <td>{{ customer.customerPlan.dateReview | date: 'dd/MM/yyyy' }}</td>
      <td>{{ customer.customerPlan.dateRenewal | date: 'dd/MM/yyyy' }}</td>
      <td
         [ngClass]="{ active: customer.customerPlan.loyaltyCard, inactive: !customer.customerPlan.loyaltyCard }">
         {{ customer.customerPlan.loyaltyCard ? 'Sim' : 'N&atilde;o' }}
      </td>
      <td class="text-center">
         <button class="btn btn-link btn-table" (click)="openModalCustomer(modalCustomer, customer)">
            <fa-icon [icon]="faEdit"></fa-icon>
         </button>
      </td>
   </tr>
   </tbody>
</table>

<ngb-pagination
   *ngIf="customers.total > paginationSize"
   size="sm"
   [page]="currentPage"
   [pageSize]="paginationSize"
   [collectionSize]="customers.total"
   [maxSize]="paginationSize"
   [rotate]="true"
   (pageChange)="pageChange($event)"
></ngb-pagination>
<small class="text-muted" *ngIf="customers.total > 0">
   {{ customers.total }} Cliente(s)
</small>

<ng-template #modalCustomer let-modal>
   <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
         {{ customerFormGroup.get('id').value ? 'Editar' : 'Cadastrar' }} Cliente
      </h4>
      <button
         type="button"
         class="close"
         aria-label="Close"
         (click)="modal.dismiss()"
         [disabled]="isLoading ? 'disabled' : ''"
      >
         <span aria-hidden="true">&times;</span>
      </button>
   </div>

   <div class="modal-body">
      <form [formGroup]="customerFormGroup">
         <div class="form-group">
            <label for="name">Nome</label>
            <div class="input-group">
               <input
                  id="name"
                  class="form-control"
                  type="text"
                  formControlName="name"
                  [ngClass]="{
                   'is-invalid':
                     customerFormGroup.get('name').touched &&
                     customerFormGroup.get('name').invalid
                  }"
                  trim="blur"
               >
            </div>
         </div>

         <div class="form-group">
            <label for="name">CPF</label>
            <div class="input-group">
               <input
                  id="cpf"
                  class="form-control"
                  type="text"
                  formControlName="cpf"
                  [ngClass]="{
                   'is-invalid':
                     customerFormGroup.get('cpf').touched &&
                     customerFormGroup.get('cpf').invalid
                  }"
                  trim="blur"
                  mask="000.000.000-00"
               >
            </div>
         </div>

         <div class="form-group">
            <label for="plan">Programa</label>
            <select
               id="plan"
               class="form-control"
               formControlName="planId"
               [ngClass]="{
                  'is-invalid':
                     customerFormGroup.get('planId').touched &&
                     customerFormGroup.get('planId').invalid
               }"
            >
               <option value="">Selecione</option>
               <option *ngFor="let plan of plans" [value]="plan.id">
                  {{ plan.name }}
               </option>
            </select>
         </div>

         <div class="form-group">
            <label for="dateSignature">Assinatura do contrato</label>
            <input
               id="dateSignature"
               type="text"
               class="form-control"
               formControlName="dateSignature"
               [ngClass]="{
                  'is-invalid':
                     customerFormGroup.get('dateSignature').touched &&
                     customerFormGroup.get('dateSignature').invalid
               }"
               mask="00/00/0000"
               [showMaskTyped]="true"
               [dropSpecialCharacters]="false"
            />
         </div>

         <div class="form-group">
            <div class="form-check">
               <input
                  class="form-check-input"
                  type="checkbox"
                  id="loyaltyCard"
                  formControlName="loyaltyCard"
               />
               <label class="form-check-label" for="loyaltyCard">Cart&atilde;o fidelidade</label>
            </div>
         </div>

         <div class="form-group">
            <div class="form-check">
               <input
                  class="form-check-input"
                  type="checkbox"
                  id="active"
                  formControlName="active"
               />
               <label class="form-check-label" for="active">Ativo</label>
            </div>
         </div>
      </form>
   </div>

   <div class="modal-footer">
      <button
         type="button"
         class="btn btn-primary"
         [ladda]="isLoading"
         [disabled]="isLoading ? 'disabled' : ''"
         (click)="save()"
      >
         Salvar
      </button>

      <button
         type="button"
         class="btn btn-outline-dark"
         [disabled]="isLoading ? 'disabled' : ''"
         (click)="modal.dismiss()"
      >
         Cancelar
      </button>
   </div>
</ng-template>

<ng-template #modalReportPDFCustomer let-modal>
   <div class="modal-header">
      <h4 class="modal-title">
         Relat&oacute;rio de clientes
      </h4>
      <button
         type="button"
         class="close"
         aria-label="Close"
         (click)="modal.dismiss()"
         [disabled]="isLoading ? 'disabled' : ''"
      >
         <span aria-hidden="true">&times;</span>
      </button>
   </div>

   <div class="modal-body">
      <form [formGroup]="reportCustomerParamsFormGroup">
         <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                  <label for="dateStart">Data assinatura contrato</label>
                  <input
                     id="dateStart"
                     type="text"
                     class="form-control"
                     formControlName="dateStart"
                     [ngClass]="{
                        'is-invalid':
                           reportCustomerParamsFormGroup.get('dateStart').touched &&
                           reportCustomerParamsFormGroup.get('dateStart').invalid
                     }"
                     mask="00/00/0000"
                     [showMaskTyped]="true"
                     [dropSpecialCharacters]="false"
                  />
               </div>
            </div>
            <div class="col-md-6">
               <div class="form-group">
                  <label for="dateStart">à</label>
                  <input
                     id="dateEnd"
                     type="text"
                     class="form-control"
                     formControlName="dateEnd"
                     [ngClass]="{
                        'is-invalid':
                           reportCustomerParamsFormGroup.get('dateEnd').touched &&
                           reportCustomerParamsFormGroup.get('dateEnd').invalid
                     }"
                     mask="00/00/0000"
                     [showMaskTyped]="true"
                     [dropSpecialCharacters]="false"
                  />
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <div class="form-group">
                  <div class="form-check">
                     <input
                        class="form-check-input"
                        type="checkbox"
                        id="detailed"
                        formControlName="detailed"
                     />
                     <label class="form-check-label" for="detailed">Relat&oacute;rio detalhado</label>
                  </div>
               </div>
            </div>
         </div>
      </form>
   </div>

   <div class="modal-footer">
      <button
         type="button"
         class="btn btn-primary"
         [ladda]="isLoading"
         (click)="openPDFReportCustomers()"
      >
         Gerar relat&oacute;rio
      </button>

      <button
         type="button"
         class="btn btn-outline-dark"
         [disabled]="isLoading"
         (click)="modal.dismiss()"
      >
         Cancelar
      </button>
   </div>
</ng-template>

