<div class="container">
   <form class="border p-3 rounded">
      <div class="form-group">
         <label for="mail">E-mail</label>
         <input
            type="email"
            class="form-control"
            id="mail"
            placeholder="Informe o seu e-mail"
         >
         <small class="form-text text-muted text-center">
            Informe um e-mail v&aacute;lido,
            <br/>e enviaremos um link de recupera&ccedil;&atilde;o.
         </small>
      </div>

      <button type="button" class="btn btn-block btn-primary" [routerLink]="'/login'">Enviar</button>
   </form>
</div>
