<h3 class="mb-4">Usu&aacute;rios</h3>

<button class="btn btn-primary mb-3" (click)="openModalUser(modalUser)">
   <fa-icon [icon]="faPlus"></fa-icon>
   Cadastrar Usu&aacute;rio
</button>

<div class="table-responsive">
   <table class="table table-sm table-bordered" *ngIf="users.length > 0">
      <thead>
      <tr>
         <th scope="col">Usu&aacute;rio</th>
         <th scope="col">E-Mail</th>
         <th scope="col">Perfil</th>
         <th scope="col">Ativo</th>
         <th scope="col" class="text-center">A&ccedil;&otilde;es</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
         <td>{{ user.name }}</td>
         <td>{{ user.mail }}</td>
         <td>
            {{ user.profile === "ADMIN" ? "Administrador" : "Usuário" }}
         </td>
         <td>{{ user.status?.toUpperCase() === 'ENABLED' ? "Sim" : "N&atilde;o" }}</td>
         <td class="text-center">
            <button
               class="btn btn-link btn-table"
               (click)="openModalUser(modalUser, user)"
            >
               <fa-icon [icon]="faEdit"></fa-icon>
            </button>
         </td>
      </tr>
      </tbody>
   </table>
</div>

<ng-template #modalUser let-modal>
   <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
         {{ userFormGroup.get("id").value ? "Editar" : "Cadastrar" }}
         Usu&aacute;rio
      </h4>
      <button
         type="button"
         class="close"
         aria-label="Close"
         (click)="modal.dismiss()"
         [disabled]="isLoading ? 'disabled' : ''"
      >
         <span aria-hidden="true">&times;</span>
      </button>
   </div>

   <div class="modal-body">
      <form [formGroup]="userFormGroup">
         <div class="form-group">
            <label for="name">Nome</label>
            <div class="input-group">
               <input
                  id="name"
                  class="form-control"
                  type="text"
                  formControlName="name"
                  [ngClass]="{
                     'is-invalid':
                        userFormGroup.get('name').touched &&
                        userFormGroup.get('name').invalid
                  }"
                  trim="blur"
               />
            </div>
         </div>

         <div class="form-group">
            <label for="nickname">Apelido</label>
            <div class="input-group">
               <input
                  id="nickname"
                  class="form-control"
                  type="text"
                  formControlName="nickname"
                  [ngClass]="{
                     'is-invalid':
                        userFormGroup.get('nickname').touched &&
                        userFormGroup.get('nickname').invalid
                  }"
                  trim="blur"
               />
            </div>
         </div>

         <div class="form-group">
            <label for="name">E-Mail</label>
            <div class="input-group">
               <input
                  id="mail"
                  class="form-control"
                  type="text"
                  formControlName="mail"
                  [ngClass]="{
                     'is-invalid':
                        userFormGroup.get('mail').touched &&
                        userFormGroup.get('mail').invalid
                  }"
                  trim="blur"
               />
            </div>
         </div>

         <div class="form-group">
            <label for="cnpj">CPF</label>
            <div class="input-group">
               <input
                  id="cnpj"
                  class="form-control"
                  type="text"
                  formControlName="cpf"
                  [ngClass]="{
                     'is-invalid':
                        userFormGroup.get('cpf').touched &&
                        userFormGroup.get('cpf').invalid
                  }"
                  mask="000.000.000-00"
               />
            </div>
         </div>

         <div class="form-group">
            <label for="phone">Telefone</label>
            <div class="input-group">
               <input
                  id="phone"
                  class="form-control"
                  type="text"
                  formControlName="phone"
                  [ngClass]="{
                     'is-invalid':
                        userFormGroup.get('phone').touched &&
                        userFormGroup.get('phone').invalid
                  }"
                  mask="(00) 00009-0000"
               />
            </div>
         </div>

         <div class="form-group">
            <label for="gender">G&ecirc;nero</label>
            <select
               id="gender"
               class="form-control"
               formControlName="gender"
               [ngClass]="{
                  'is-invalid':
                     userFormGroup.get('gender').touched &&
                     userFormGroup.get('gender').invalid
               }"
            >
               <option value="">Selecione</option>
               <option *ngFor="let gender of genders" [value]="gender.value">
                  {{ gender.name }}
               </option>
            </select>
         </div>

         <div class="form-group">
            <label for="gender">Perfil</label>
            <select
               id="profile"
               class="form-control"
               formControlName="profile"
               [ngClass]="{
                  'is-invalid':
                     userFormGroup.get('profile').touched &&
                     userFormGroup.get('profile').invalid
               }"
            >
               <option value="">Selecione</option>
               <option *ngFor="let profile of profiles" [value]="profile.value">
                  {{ profile.name }}
               </option>
            </select>
         </div>

         <div
            class="form-group"
            *ngIf="userFormGroup.get('profile').value === 'USER'"
         >
            <label for="gender">Cl&iacute;nica</label>
            <select
               id="subsidiary"
               class="form-control"
               formControlName="subsidiary"
               [ngClass]="{
                  'is-invalid':
                     userFormGroup.get('subsidiary').touched &&
                     userFormGroup.get('subsidiary').invalid
               }"
            >
               <option value="null">Selecione</option>
               <option *ngFor="let seller of sellers" [value]="seller.id">
                  {{ seller.name }}
               </option>
            </select>
         </div>

         <div class="form-group" *ngIf="!userFormGroup.get('id').value">
            <label for="cnpj">Senha</label>
            <div class="input-group">
               <input
                  id="password"
                  class="form-control"
                  type="password"
                  formControlName="password"
                  [ngClass]="{
                     'is-invalid':
                        userFormGroup.get('password').touched &&
                        userFormGroup.get('password').invalid
                  }"
               />
            </div>
         </div>

         <div class="form-group">
            <div class="form-check">
               <input
                  class="form-check-input"
                  type="checkbox"
                  id="status"
                  formControlName="status"
               />
               <label class="form-check-label" for="active"> Ativo </label>
            </div>
         </div>
      </form>
   </div>

   <div class="modal-footer">
      <button
         type="button"
         class="btn btn-primary"
         [ladda]="isLoading"
         [disabled]="isLoading ? 'disabled' : ''"
         (click)="save()"
      >
         Salvar
      </button>

      <button
         type="button"
         class="btn btn-outline-dark"
         [disabled]="isLoading ? 'disabled' : ''"
         (click)="modal.dismiss()"
      >
         Cancelar
      </button>
   </div>
</ng-template>
