.box {
   display: flex;
   flex-direction: column;
   height: 100vh;
   width: 100%;
   align-items: center;
   justify-content: center;

   img {
      max-width: 100px;
      max-height: 100px;
   }
}
