<h3 class="mb-4">Configur&ccedil;&atilde;oes</h3>

<div class="card">
   <div class="card-body">
      <div class="row">
         <div class="col-md-8">
            <div class="form-group">
               <label>Raz&atilde;o Social</label>
               <input class="form-control" type="text "/>
            </div>
         </div>

         <div class="col-md-4">
            <div class="form-group">
               <label>CNPJ</label>
               <input class="form-control" type="text " mask="00.000.000/0000-00"/>
            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-md-8">
            <div class="form-group">
               <label>E-Mail</label>
               <input class="form-control" type="text "/>
            </div>
         </div>
      </div>

      <!--      <div class="row">-->
      <!--         <div class="col-md-8">-->
      <!--            <div class="form-group">-->
      <!--               <label>Alerta de vencimento dos contratos</label>-->
      <!--               <input class="form-control" type="text "/>-->
      <!--               <small class="text-muted">Informe a quantidade em dias</small>-->
      <!--            </div>-->
      <!--         </div>-->
      <!--      </div>-->
   </div>
</div>
