<ng-template #modalPlanSave let-modal>
   <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
         {{ planFormGroup.get("id").value ? "Editar" : "Cadastrar" }} Programa
      </h4>
      <button
         type="button"
         class="close"
         aria-label="Close"
         (click)="modal.dismiss()"
         [disabled]="isLoading ? 'disabled' : ''"
      >
         <span aria-hidden="true">&times;</span>
      </button>
   </div>

   <div class="modal-body">
      <form [formGroup]="planFormGroup">
         <div class="row">
            <div class="col-md-12">
               <div class="form-group">
                  <label for="name">Nome</label>
                  <div class="input-group">
                     <input
                        id="name"
                        class="form-control"
                        type="text"
                        formControlName="name"
                        [ngClass]="{
                           'is-invalid':
                              planFormGroup.get('name').touched &&
                              planFormGroup.get('name').invalid
                        }"
                        trim="blur"
                     />
                  </div>
               </div>
            </div>
         </div>

         <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                  <label for="value">Valor</label>
                  <div class="input-group">
                     <input
                        id="value"
                        class="form-control"
                        type="text"
                        formControlName="value"
                        currencyMask
                        [options]="{
                           prefix: 'R$ ',
                           thousands: '.',
                           decimal: ','
                        }"
                        [ngClass]="{
                           'is-invalid':
                              planFormGroup.get('value').touched &&
                              planFormGroup.get('value').invalid
                        }"
                     />
                  </div>
               </div>
            </div>

            <div class="col-md-6">
               <div class="form-group">
                  <label for="value">Repasse (%)</label>
                  <div class="input-group">
                     <input
                        id="percent"
                        class="form-control"
                        type="text"
                        formControlName="percent"
                        mask="percent"
                        suffix="%"
                        [ngClass]="{
                           'is-invalid':
                              planFormGroup.get('percent').touched &&
                              planFormGroup.get('percent').invalid
                        }"
                     />
                  </div>
               </div>
            </div>
         </div>

         <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                  <label for="value">Parcelas de repasse</label>
                  <div class="input-group">
                     <input
                        id="parcel"
                        class="form-control"
                        type="number"
                        formControlName="parcel"
                        [ngClass]="{
                           'is-invalid':
                              planFormGroup.get('parcel').touched &&
                              planFormGroup.get('parcel').invalid
                        }"
                     />
                  </div>
               </div>
            </div>
         </div>
      </form>
   </div>

   <div class="modal-footer">
      <button
         type="button"
         class="btn btn-primary"
         [ladda]="isLoading"
         [disabled]="isLoading ? 'disabled' : ''"
         (click)="save()"
      >
         Salvar
      </button>

      <button
         type="button"
         class="btn btn-outline-dark"
         [disabled]="isLoading ? 'disabled' : ''"
         (click)="modal.dismiss()"
      >
         Cancelar
      </button>
   </div>
</ng-template>
