@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@import 'assets/scss/colors';
@import '~bootstrap/scss/bootstrap';
@import '~ladda/dist/ladda-themeless.min.css';
@import '~ngx-toastr/toastr-bs4-alert';

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

*, button, input {
   font-family: Roboto, sans-serif;
}

html {
   min-height: 100%;
}

.btn-table {
   padding: 0;
   margin: 0;
}
