.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;

   .app-logo {
      display: flex;
      justify-content: center;
      padding-bottom: 25px;

      img {
         width: 170px;
         height: 13yarn 0px;
      }
   }
}
