<div class="container">
   <form
      class="border p-3 rounded"
      [formGroup]="authFormGroup"
      (submit)="login()"
   >
      <div class="app-logo">
         <img src="assets/img/app-logo.jpeg" alt="app logo"/>
      </div>

      <div class="form-group">
         <label for="mail">E-mail</label>
         <input
            type="email"
            class="form-control"
            id="mail"
            placeholder="Informe o seu e-mail"
            formControlName="mail"
            [ngClass]="{
               'is-invalid':
                  authFormGroup.get('mail').touched &&
                  authFormGroup.get('mail').invalid
            }"
            trim="blur"
         />
      </div>

      <div class="form-group">
         <label for="pass">Senha</label>
         <input
            type="password"
            class="form-control"
            id="pass"
            placeholder="Informe a sua senha"
            formControlName="password"
            [ngClass]="{
               'is-invalid':
                  authFormGroup.get('password').touched &&
                  authFormGroup.get('password').invalid
            }"
            trim="blur"
         />
      </div>

      <button
         type="submit"
         class="btn btn-block btn-primary"
         [ladda]="isLoading"
         (click)="login()"
      >
         Entrar
      </button>

      <div class="d-flex justify-content-center align-items-center mt-4">
         <a class="nav-link" [routerLink]="'/login/recuperar-senha'">
            Esqueci minha senha
         </a>
      </div>
   </form>
</div>
